extends layout

block content
  h1= title
  p Welcome to Lab10
  button(type='button',class='btn btn-success btn-lg' onclick = "doBump()") Press Me
  div#bump Bump the count.
 
  script.
    var count = 0
    var bump = 1
    function doBump(){
      count+=bump
      bump++
      document.getElementById("bump").innerHTML='Count '+count + "with bump "+ bump;
    }